<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 指定操作类型(指定文件归属的操作类) -->
<mapper namespace="com.itheima.mybatis.day03.relate.mapper.OrderMapper">
    
    <resultMap id="O2O" type="order">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="number" column="number"/>
        <result property="createTime" column="createTime"/>
        <result property="note" column="note"/>
        <association property="user" javaType="user">
            <id property="id" column="user_id"/>
            <result property="username" column="username"/>
            <result property="birthday" column="birthday"/>
            <result property="sex" column="sex"/>
            <result property="address" column="address"/>
        </association>
    </resultMap>
    
    <select id="findO2O" resultMap="O2O">
        SELECT * FROM orders o
        LEFT JOIN user u ON o.user_id = u.id
    </select>


</mapper>