<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 指定操作类型(指定文件归属的操作类) -->
<mapper namespace="com.itheima.mybatis.day04.cache.mapper.UserMapper">

    <cache/>

    <resultMap id="UserMap" type="user">
        <collection property="orders" ofType="order"
                    select="com.itheima.mybatis.day04.cache.mapper.OrderMapper.findByUserId"
                    column="id"/>
    </resultMap>


    <!-- 指定操作名称; 指定封装类; 执行语句 -->
    <select id="findAll" resultMap="UserMap">
        select * from user
    </select>



    <!-- 指定操作名称; 指定封装类; 执行语句 -->
    <select id="findById" parameterType="int" resultType="user">
        select * from user where id = #{id}
    </select>


    <update id="update" parameterType="user" >
        update user
        <set>
            <if test="address!=null and address!=''">
              address=#{address}
            </if>
        </set>
        <where>
            <if test="id!=null">
                id = #{id}
            </if>
        </where>
    </update>

</mapper>