<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!-- 1. 通知容器(Tomcat)启动SpringMVC框架 -->

	<!-- 用什么来处理(接收)用户请求 -->
	<servlet-mapping>
		<servlet-name>mvc</servlet-name>
		<!-- 需要处理所有.do结尾的请求: http://localhost:8080/...do -->
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>mvc</servlet-name>
		<!-- 前端控制器: 统一处理(分发)用户请求 -->
		<!-- 部分同学编译报错: 但是不用管, 照样部署运行 -->
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springMVC.xml</param-value>
		</init-param>
		<!-- Servlet默认在第一次请求时创建, 对第一个用户不公平 0-6 -->
		<load-on-startup>1</load-on-startup>
	</servlet>



	<!-- 2. 定义字符集过滤器 -->
	<filter-mapping>
		<filter-name>code</filter-name>
		<!-- /*: 表示所有的请求 -->
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<filter>
		<filter-name>code</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
</web-app>