<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 指定操作类型(指定文件归属的操作类) -->
<mapper namespace="com.itheima.mybatis.day03.sql.mapper.UserMapper">

    <sql id="fields">
        username,birthday,sex,address
    </sql>
    <!-- 指定操作名称; 指定封装类; 执行语句 -->
    <select id="findBy" resultType="com.itheima.mybatis.day03.sql.model.User">
        select <include refid="fields"/> from user
        <where>
            <if test="username !=null and username!=''">
                and username like #{username}
            </if>
            <if test="sex !=null and sex!=''">
                and sex = #{sex}
            </if>
        </where>
    </select>


    <select id="findByIds" resultType="com.itheima.mybatis.day03.sql.model.User">
        select * from user
        <where>
            <foreach collection="array" item="id" open="id in(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </select>

    <update id="update" parameterType="com.itheima.mybatis.day03.sql.model.User">
        update user
        <set>
            <if test="birthday!=null">
                birthday=#{birthday},
            </if>
            <if test="sex!=null and sex!=''">
                sex=#{sex},
            </if>
        </set>
        where id = #{id}
    </update>



</mapper>