<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 指定操作类型(指定文件归属的操作类) -->
<mapper namespace="com.itheima.mybatis.day03.sql.mapper.UserMapper">

    <sql id="fields">
        username,address
    </sql>


    <select id="findBy" parameterType="user" resultType="user">
        SELECT <include refid="fields"/> FROM user
        <where>
            <if test="username!=null and username!=''">
                and username like #{username}
            </if>
            <if test="sex!=null and sex!=''">
                and sex = #{sex}
            </if>
        </where>
    </select>

    <select id="findByIds" resultType="user">
        SELECT <include refid="fields"/> FROM user
        <where>
            <foreach collection="array" item="id" open="id in(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </select>

    <update id="update" parameterType="user">
        update user
        <set>
            <if test="sex!=null and sex!=''">
                sex=#{sex},
            </if>
            <if test="address!=null and address!=''">
                address=#{address},
            </if>
        </set>

        <where>
            id = #{id}
        </where>
    </update>

</mapper>