<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 使用default指定默认启用的环境名称 -->
    <environments default="dev">
        <!-- 使用id指定环境名称; 以此区分各个环境 -->
        <environment id="dev">
            <!-- 使用type指定事务管理类型; JDBC选项: 表示采用JDBC事务管理方式 -->
            <transactionManager type="JDBC"/>
            <!-- 使用type指定连接池类型; type选项: 表示采用框架默认的连接池 -->
            <dataSource type="POOLED">




                <!-- ↓↓↓ 同学们是在找我吗? ↓↓↓ -->
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///mybatisdb"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
                <!-- ↓↓↓ 别看其他地方,看我 ↑↑↑ -->




            </dataSource>
        </environment>
    </environments>

    <!-- 多映射文件配置 -->
    <mappers>
        <!-- 使用resource指定映射文件路径 -->
        <mapper resource="mapper/userMapper.xml"/>
    </mappers>
</configuration>